.dashcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.topnav {
  background-color: #ffeb00;
  width: 100%;
}
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  font-weight: 600;
}

.topnav a:hover {
  background-color: #606060;
  color: black;
}

.topnav a.active {
  background-color: #323232;
  color: white;
}

.Workouts {
  color: #000000;
  font-weight: 300;
}

.cardHead {
  margin: auto;
}

.cardText {
  margin: auto;
  font-size: 18px;
  padding: auto;
}
