.topnav {
  background-color: #ffeb00;
  width: 100%;
}
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 23px;
  font-weight: 600;
}

.topnav a:hover {
  background-color: #606060;
  color: black;
}

.topnav a.active {
  background-color: #323232;
  color: white;
}
.WorkoutContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: -25px;
}

.Workouts {
  color: #000000;
  font-weight: 300;
}

.WorkoutCard {
  border: 2px solid #000000;
  min-height: 270px;
  min-width: 180px;
  margin: 5px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardText {
  margin: 0px;
}
